#style{
    text-align:center;
    background-color:lavender;
}

/****************************** MENU ******************************/

#menu{
    font-size: 20px;
    text-align: center;
}

/****************************** PARAGRAPH ******************************/
